body {
    background-color: var(--cor-background2);
    color: var(--cor-texto);
    font-family: Tahoma, Verdana, Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

a {
    color: var(--cor-link);
}

h1:first-child {
    color: var(--cor-heading);
    margin-top: 0;
}

h1 > a {
    text-decoration: none;
}

h1 > a:hover, h1 > a:focus {
    text-decoration: underline;
}

h1 > a::before {
    content: "#";
    font-size: .45em;
    margin-left: -0.8em;
    width: 0.8em;
    text-decoration: none;
    display: inline-block;
    visibility: hidden;
    color: var(--cor-link2);
    vertical-align: middle;
}

h1 > a:hover::before, h1 > a:focus::before {
    visibility: visible;
}

.flex { display: flex; }
.v { flex-direction: column; }
.h { flex-direction: row; }
.grow { flex-grow: 1; }
.vh { min-height: 100vh; }
.bg { background-color: var(--cor-background); }
.center { margin-left: auto; margin-right: auto; }

.container {
    width: 100%;
    max-width: 40rem;
}

.content {
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--cor-background2);
}

.container > * {
    margin: 0.5rem 0;
}

.container > :first-child {
    margin-top: 0;
}

.container > :last-child {
    margin-bottom: 0;
}

.container > .grow {
    margin: 0;
}

footer {
    font-size: 0.8rem;
}

html {
    --rich-black: #001219ff;
    --midnight-green: #005f73ff;
    --dark-cyan: #0a9396ff;
    --tiffany-blue: #94d2bdff;
    --vanilla: #e9d8a6ff;
    --gamboge: #ee9b00ff;
    --alloy-orange: #ca6702ff;
    --rust: #bb3e03ff;
    --rufous: #ae2012ff;
    --auburn: #9b2226ff;

    --cor-background: var(--rich-black);
    --cor-background2: black;
    --cor-texto: white;
    --cor-heading: var(--tiffany-blue);
    --cor-link: var(--tiffany-blue);
    --cor-link2: rgba(148, 210, 189, 0.521);

    visibility: visible;
    opacity: 1;
}
