- let toid = t => t.toLowerCase().replace(/[^\w]+/g, "-").replace(/^-+|-+$/g, "")
- let file = filename.split('/').at(-1).replace('.pug', '')

mixin link
  a(target="_blank" rel="noopener noreferrer")&attributes(attributes)
    block

mixin h1(text)
  - var id = toid(text)
  h1(id=id)
    a.heading-anchor(href="#"+id)= text

mixin nav-item(name, link, next=true)
  if link == file || link == './' && file == 'index'
    = name
  else
    a(href=link)= name
  if next
    |  / 

mixin nav
  span
    +nav-item("índice", "./")
    +nav-item("sobre mim", "sobre-mim")
    +nav-item("outros sites", "outros-sites", false)
