mixin link
  a(target="_blank" rel="noopener noreferrer")&attributes(attributes)
    block

mixin h1(text)
  - var id = text.toLowerCase().replace(/[^\w]+/g, "-").replace(/^-+|-+$/g, "").replace(/-+/g, "-")
  h1(id=id)
    a.heading-anchor(href="#"+id)= text

mixin nav-item(name, link, except, next=true)
  if name != except
    a(href=link)= name
  else
    = name
  if next
    |  / 

mixin nav(except)
  span
    +nav-item("índice", "/", except)
    +nav-item("sobre mim", "/sobre-mim", except)
    +nav-item("outros sites", "/outros-sites", except, false)
